* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#product-overview {
  background: url('./forest.jpeg');
  width: 100%;
  height: 528px;
  padding: 10px;
  border: 5px solid black;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  border-radius: 4px;
}

#plans ul {
  list-style: none;
  padding: 0;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: rgb(125, 113, 113);
}

#plans ul li {
  margin: 8px 0;
}

.recommended {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.recommended .plan__price {
  color: #0e4f1f;
}
.plan__header {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.main-header {
  background: #2ddf5c;
  width: 100%;
  padding: 10px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 74px);
}

.main-nav__item {
  display: inline-block;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav__link {
  padding: 0 5px;
  color: #0e4f1f;
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: white;
  font-weight: bold;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/* h1 {
    font-family: sans-serif;
} */
