.background {
  background: url('../images/plans-background.jpg');
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.plan {
  border: 3px solid #0e4f1f;
  background: #e1ffe9;
  margin: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.plan:hover,
.plan:active {
  border: 3px solid rgb(242, 98, 98);
}

.plan a {
  text-decoration: none;
  color: black;
}

.plan-badge {
  position: absolute;
  top: 50px;
  margin: 20px;
  right: 20px;
  font-size: 12px;
  color: white;
  background: #ff5454;
  padding: 10px;
}

.plan-description {
  color: rgb(167, 161, 161);
}

.plan-text {
  border: 1px solid #0e4f1f;
  padding: 10px;
  background: white;
  color: #0e4f1f;
}

.plan-premium {
  color: white;
  background: #17632c;
}

.plan-premium .plan-title {
  color: white;
}

.plan-free {
  float: right;
}

.clearfix {
  clear: both;
}
