.background {
  background: url('../images/plans-background.jpg') center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.plan {
  border: 3px solid #0e4f1f;
  background: #e1ffe9;
  margin: 1.25rem;
  padding: 1.25rem;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.plan:hover,
.plan:active {
  border: 3px solid rgb(242, 98, 98);
}

.plan a {
  text-decoration: none;
  color: black;
}

.plan-badge {
  position: absolute;
  top: 3.125rem;
  margin: 1.25rem;
  right: 1.25rem;
  font-size: 0.7rem;
  color: white;
  background: #ff5454;
  padding: 0.625rem;
}

.plan-description {
  color: rgb(167, 161, 161);
}

.plan-text {
  border: 1px solid #0e4f1f;
  padding: 0.625rem;
  background: white;
  color: #0e4f1f;
}

.plan-premium {
  color: white;
  background: #17632c;
}

.plan-premium .plan-title {
  color: white;
}

.plan-free {
  float: right;
}

.clearfix {
  clear: both;
}

@media (min-width: 40rem) {
  main {
    margin: 3rem 0;
    max-width: 1500px;
  }
}
